@require 'variables'

.navbar
  ul
   li
     a.active
       background-color tealGreen

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
  background-color tealGreen
  color faintBlue

.navbar-collapse
  &.collapse
    display block!important

.navbar-default
  background-color snappyBlue
  .navbar-brand
    color snappyBlue
    padding 5px 5px
    img
      border 2px solid white
  .navbar-toggle
    border-color whitesmoke
  .navbar-nav
    & > li
      & > a
        color faintBlue
        font-size 18px

.btn-primary
  background-color snappyBlue
  border-color #0294B8

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary
  color white
  background-color #0097BD
  border-color #204d74

@media (max-width: 768px)
  .navbar-nav
    float left !important
    margin 5px 50px

  .navbar-nav>li
    float left !important

  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse
    display inline-block
    float left

.navbar-nav
  &.navbar-right
    &:last-child
      margin-right -15px !important

.navbar-right
  float right!important

.col-xs-12
  padding-right 50px
  @media (max-width 992px)
    padding-left 0
    margin-left 5px
    padding-right 10px

h1, .h1, h2, .h2, h3, .h3
  margin-top 15px
  margin-bottom: 15px

.jumbotron
  background-color transparent
  margin 0 auto
  padding-top 10px
  width 100%

.jumbotron.scoreboard
  border 5px solid #555
  background-color white
  h2, .h2
    display flex
    align-items center
    justify-content center
    padding 0.5em
    width 100%
    height 3em
    margin 0

.jumbotron-style-p
  margin-bottom 15px
  font-size 21px
  font-weight 200

@media (max-width 550px)
  h1, .h1
    font-size 1.75em !important

  h2, .h2
    font-size 1.5em !important

  h3, .h3
    font-size 1.25em !important
