@require '../../bower_components/bootstrap/dist/css/bootstrap.css'
@require '../../bower_components/fontawesome/css/font-awesome.css'
@require 'react-select.css'
@require 'variables'
@require 'helpers'
@require 'bootstrap_overrides'
@require 'controller'

*
  box-sizing border-box

html, body
  overflow-x hidden

body
  overflow-y scroll
  -webkit-overflow-scrolling touch
  padding-top 60px
  font-family mainFont
  background-color #F4FCFF

// Radio button hack
input[type=radio]
  position absolute
  top -9999px
  left -9999px

label[for="by-player"]
  cursor pointer
  text-align center
  font-family sans-serif
  font-size 14px
  font-weight 300
  color #aaa
  line-height 40px
  height 40px
  min-width 100px
  float left

label[for="by-team"]
  cursor pointer
  text-align center
  font-family sans-serif
  font-size 14px
  font-weight 300
  color #aaa
  line-height 40px
  height 40px
  min-width 100px
  float left

input#by-player[type=radio]:checked
  & ~ label[for="by-player"]
    border-bottom 5px solid snappyBlue
    font-weight bold
    color lighten(black, 20%)

input#by-team[type=radio]:checked
  & ~ label[for="by-team"]
    border-bottom 5px solid snappyBlue
    font-weight bold
    color lighten(black, 20%)

.row
  &.tall
    min-height 3.5em
  &.stepper
    font-weight bolder
    border-radius 15px
    margin 0 auto
    max-width 100%
    padding 0
    font-size 1.5em

.splash
  text-align center
  margin 10% 0 0 0
  .message
    font-size 5em
    line-height 1.5em
    -webkit-text-shadow rgba(0, 0, 0, 0.5) 0 0 15px
    text-shadow rgba(0, 0, 0, 0.5) 0 0 15px
    text-transform uppercase
  .fa-spinner
    text-align center
    display inline-block
    font-size 5em
    margin-top 50px

.page-host
  position absolute
  left 0
  right 0
  top 50px
  bottom 0
  overflow-x hidden
  overflow-y auto
  padding-top 20px

.winning-score, .winning-score h2
  font-weight bolder !important

.losing-score
  color #888

.current
  border-bottom 4px solid snappyBlue
  background linear-gradient(#eee, white)
  background linear-gradient(white, #eee)

.heads:before
  background-color black
  width 25px
  height 25px
  position absolute
  left -20%
  top 40%
  content ''

.tails:before
  background-color tailsYellow
  border 1px solid #999
  width 25px
  height 25px
  position absolute
  left -20%
  top 40%
  content ''

.heads-stepper
  background-color black
  color white
  font-weight bolder
  border 4px solid black
  .btn-expand
    background-color black

.tails-stepper
  background-color tailsYellow
  color black
  font-weight bolder
  border 4px solid #CDCDCD
  .btn-expand
    background-color tailsYellow

.btn-expand
  width 100%
  height 100%
  height 5.25em
  padding 0
  border-radius 10px
  i
    &.fa
      font-size 3em

.heads-stepper .btn-expand:hover, .heads-stepper .btn-expand:focus
  background-color #333
  color white

.tails-stepper .btn-expand:hover, .tails-stepper .btn-expand:focus
  background-color rgb(215, 197, 18)
  color black

.final-box-score
  max-width 750px !important
  margin 0 auto

.series-history, .recent-matches
  font-size 28px
  width 65%
  margin 0 auto
  h3
    font-size 32px
  h4
    font-size 28px
    font-weight bolder !important
  .footnote
    font-style italic
    font-size 20px
    color #B2B2B2
  @media (max-width 1050px)
    width 75%
  @media (max-width 925px)
    width 90%
  @media (max-width 825px)
    width 100%
  @media (max-width 675px)
    font-size 20px
    h3
      font-size 24px
    h4
      font-size 20px
    .footnote
      font-size 14px
  @media (max-width 550px)
    font-size 16px
    margin 0 auto
    h3
      font-size 18px
    h4
      font-size 16px
    .footnote
      font-size 12px

@media(max-width 550px)
  .page-host
    top 30px
  .stepper
    h3, .h3
      font-size 18px !important

h2.score-flash
  color white
  background-color #52CDAC
  animation flash 1s linear infinite

@keyframes flash
 from
   opacity 1.0
 to
  opacity 0.5

.new-match-form, .new-player-tag-form
  max-width 400px
  margin 0 auto
  min-height 35em

.heads-form
  .Select-control
    background-color black
    color white
  .has-value > .Select-control > .Select-placeholder
    color white
.tails-form
  .Select-control
    background-color tailsYellow
    color black

table
  background-color white
  thead
    background-color rgb(97, 46, 186)
    color whitesmoke
    cursor pointer
  &.table.table-transparent
    background transparent
  &.list-group-table
    margin-bottom 0
    tr
      td
        border none
        padding 0


th[class*='reactable-header-sort-']
  background #3F04A6

th[class*='reactable-header-sort-asc']
  &:after
    content ''
    width 0
    height 0
    border-left 5px solid transparent
    border-right 5px solid transparent
    border-bottom 5px solid whitesmoke
    position relative
    top -1em
    right -0.5em

th[class*='reactable-header-sort-desc']
  &:after
    content ''
    width 0
    height 0
    border-left 5px solid transparent
    border-right 5px solid transparent
    border-top 5px solid whitesmoke
    position relative
    top 1em
    right -0.5em

.alerts
  z-index 9999
  position fixed
  width 100%
  bottom 0
  left 0

  .alert
    margin-bottom 0 !important
    i
      margin-right 1em

.row.black
  position relative
  &> h2
    &:before
      content ''
      width 35px
      height 35px
      position absolute
      background black
      top 28px
      left 0
      border-radius 20px

.row.yellow
  position relative
  &> h2
    &:before
      content ''
      width 35px
      height 35px
      position absolute
      background tailsYellow
      border 2px solid #333
      top 28px
      left 0
      border-radius 20px

.winner
  animation flash 1s linear infinite
  background-color #52CDAC
  color white

@media (max-width 675px)
  .row
    .yellow > h2:before, .black > h2:before
      left -10px

@media (max-width 550px)
  .row
    .yellow > h2:before, .black > h2:before
      width 20px
      height 20px
      top 23px

ul.player-list
  list-style-type none
  padding 0
  li
    display block

.btn i.fa
  margin-right 5px

#init
  opacity 0
  position fixed
  top 0
  left 0
  height 100%
  width 100%
  z-index 9999

.email-notify
  width 300px
  height 45px
  padding 10px
  vertical-align middle
  border-radius 5px
  border 1px solid snappyBlue

.notify-form
  width 500px
  margin 0 auto
  &.sms-form
    min-height 500px
  label, input, button, .Select
    margin-bottom 5px
  label, input, .Select
    width 100%
  button.btn
    height 45px
    min-width 105px

@media (max-width 600px)
  .notify-form
    width 95%

.heckle-box
  display flex
  justify-content space-around
  align-items center
  text-align center
  flex-wrap wrap
  min-height 25%
  width 100%
  left 0
  bottom 0
  transform translateY(500px)
  position fixed
  opacity 0
  background rgba(65, 65, 65, 0.9)
  transition all 0.1s ease-in
  will-change transform
  &.revealed
    opacity 1
    transform translateY(0px)
    transition all 0.75s linear
    will-change transform
  div
    width 100%
    button
      margin 1em
      width 150px
      height 50px
      flex-shrink
      &.rando
        background green
  .close
    position absolute
    right 10px
    top 10px
    width 25px
    height 25px
    border 1px solid white
    border-radius 13px
    background #676767
    color white
    text-shadow none
    opacity 1
    &:before
      content: '\00D7'
  .dismiss-instructions
    color white
    padding-top 1em
