.align-center
  text-align center

.margin-centered
  margin 0 auto

.flex-container
  display flex
  justify-content center
  align-items center

.flex-item
  display flex

.width-200
  width 200px

.height-3-5em
  height 3.5em

.table.text-center
  th
    text-align center

.sortable
  cursor pointer

.no-pad
  padding 0 !important

.no-pad-xs
  padding 0 !important

.no-pad-left
  padding-left 0 !important

.pad-top-1em
  padding-top 1em

.pad-bottom-1em
  padding-bottom 1em !important

.margin-top-1em
  margin-top 1em !important

.underline
  text-decoration underline

.italicize
  font-style italic

.text-silver
  color #B2B2B2