@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic')

snappyBlue = #00ADD8
tailsYellow = rgb(255, 232, 0)
mainFont = 'Lato', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif